.navbar{
    background-color: teal;
}
/* .navbar-nav{
    margin: 0px;
    padding: 0px;
} */
.navbar-brand{
    color: gold;
}
.navbar-nav li a{
    color: #edf7f6;
}
.navbar-nav li a:hover{
    color:black;
    text-shadow: 2px 2px 5px white;
    font-weight: 500;
}
.Avatar{
    font-weight: 700;
    font-size: 1rem;
    padding: 0.5rem;
    padding-left: 10px;
    padding-right: 8px;
    color:#eeeeee;
    background-color:#222831;
    margin-right: 2rem;
}