<div class="container w-50 form">
  <form [formGroup]="loginform" (ngSubmit)="postlogindata(loginform.value)">
    <h2 class="text-center mb-4">User Login</h2>
    <!-- Email input -->
    <div class="form-outline">
      <label class="form-label" for="form2Example1">Email address</label>
      <input formControlName="email" type="email" id="form2Example1" class="form-control input" />
    </div>
    <span class="text-danger" *ngIf="email && email.invalid && email.touched">*This feild is required</span>
    <!-- Password input -->
    <div class="form-outline mt-3">
      <label class="form-label" for="form2Example2">Password</label>
      <input formControlName="password" type="password" id="form2Example2" class="form-control input" />
    </div>
    <span class="text-danger" *ngIf="password && password.invalid && password.touched">*This feild is required</span>


    <!-- Submit button -->
    <button type="submit" class="btn btn-block mt-4 mb-4">Sign in</button>

    <!-- Register buttons -->
    <div class="text-center">
      <p>Not a member? <a routerLink="/register">Register</a></p>
    </div>
  </form>
</div>