.blog{
    padding: 2rem;
    box-shadow: 3px 3px 16px teal;
}
.image{
    width: 200px;
    height: 134px;
}
.blogtitle:hover{
    color: teal;
    cursor:pointer;
    text-decoration: underline;
}

