.table th {
    font-weight: 500;
    background-color: teal;
    color:whitesmoke;
}
.pagination{
    position: absolute;
    height: 30px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}
